mat-card {
  width: 70% !important;
  margin: 0 auto !important;
}

table {
  width: 100%;
}

.form-container > * {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.form-container button {
  width: 20%;
}


button {
  *width: 20%;
  margin: 10px 10px 10px 0;
}
